<main class="container">
    <div class="body-left">
        <div class="header-page">
            <h2>DADOS DO PERFIL</h2>
        </div>
        <div class="body-page">
            <form action="" method="POST" id="form-profile" ></form>
        </div>
    </div>
    <div class="body-right">
        <div class="header-page">
            <h2>ADIONAR NOVO USUÁRIO</h2>
        </div>
        <div class="body-page">
            <form action="" method="POST" >
                <div class="avatar-area">
                    <div id="avatar-area" >
                        <img src="../../../public/assets/avatar.png" >
                        <input type="checkbox" id="avatar" class="cb" value="2" onclick="setCheck(this)" checked>
                    </div>

                    <div id="avatar-area" >
                        <img src="../../../public/assets/avatar2.png" >
                        <input type="checkbox" id="avatar2" class="cb" value="3" onclick="setCheck(this)" >
                    </div>

                    <div id="avatar-area" >
                        <img src="../../../public/assets/avatarWoman.png" >
                        <input type="checkbox" id="avatarWoman" class="cb" value="4" onclick="setCheck(this)" >
                    </div>

                    <div id="avatar-area" >
                        <img src="../../../public/assets/avatarWoman2.png" >
                        <input type="checkbox" id="avatarWoman2" class="cb" value="5" onclick="setCheck(this)" >
                    </div>
                </div>
                <div class="input-field" style="width: 100%">
                    <input type="text" name="nickname" id="nickname" placeholder="Nickname" >
                    <div class="underline"></div>
                </div>
                <div class="input-field" style="width: 100%">
                    <input type="text" name="email" id="email" placeholder="Email" >
                    <div class="underline"></div>
                </div>
                <div class="input-field" style="width: 100%">
                    <input type="password" name="password" id="password" placeholder="Senha" >
                    <div class="underline"></div>
                </div>
                <div class="input-field" style="width: 100%">
                    <input type="text" maxlength="11" name="phone" id="phone" placeholder="xxxxxxxxxxx" >
                    <div class="underline"></div>
                </div>
                <div class="input-field" style="width: 100%">
                    <input type="date" name="bday" id="bday" placeholder="Aniversário" >
                    <div class="underline"></div>
                </div>
                <div class="messages" id="msg-profile-add" ></div> 
                
                <input type="button" value="Cadastrar" onclick="return Register(nickname.value, email.value, password.value, phone.value, bday.value, 1)">
            </form>
        </div>
    </div>
</main>