<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../preload/styles.css">
    <script type="text/javascript" src="../preload/index.js"></script>
    <title>YourMangá - Preload</title>
</head>
<body onload="return refreshToken();">
    <div class="container">
        <img src="../../public/assets/Logo.png">
        <div class="c-loader"></div>
    </div>
</body>
</html>