/* HOME */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url('../../public/assets/background.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header-title {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

.header-screen {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.manga-screen {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-right: 30px;
}  

.profile-screen {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-right: 30px;
} 

.header button {
    background: transparent;
    width: 50x;
    height: 50px;
    margin-right: 20px;
}

.material-icons  {
    font-size: 40px;
    color: white;
}

.screen {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STRUCT SUBPAGES */

.container {
    flex: 1;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body-left {
    width: calc(50% - 40px);
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    box-shadow: 5px 5px 3px white;
    background: linear-gradient(45deg, #8e2de2, #6326db)
}

.body-right {
    width: calc(50% - 40px);
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    box-shadow: 7px 5px 3px white;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.header-page {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.header-page h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.body-page {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

/* MANGA ADD */

.label-title {
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.label-title label {
    font-size: 0.8;
    font-weight: bold;
    color: white;
}

.input-area {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-area select {
    width: 300px;
    font-size: 0.8;
    font-weight: bold;
    color: white;
    background: transparent;
}

/* MANGA LIST */


/* PROFILE DATA */


/* PROFILE CREATE */