/* HOME */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url('../../public/assets/background.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header-title {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

.header-screen {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.manga-screen {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-right: 30px;
}  

.profile-screen {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-right: 30px;
} 

.header button {
    background: transparent;
    width: 50x;
    height: 50px;
    margin-right: 20px;
}

.screen {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STRUCT SUBPAGES */

.container {
    flex: 1;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body-left {
    width: calc(50% - 40px);
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    box-shadow: 5px 5px 3px #8e2de2;
    background: white
}

.body-right {
    width: calc(50% - 40px);
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    box-shadow: 5px 5px 3px #8e2de2;
    background: white;
}

.header-page {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.header-page h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8e2de2;
}

.body-page {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid black;
}

#combo-type {
    width: 100%;
}

#combo-type input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

#combo-manga {
    width: 100%;
}

#combo-manga input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field {
    position: relative;
}

form .input-field {
    margin-bottom: 2rem;
    width: 300px;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to left, #4776e6, #8e54e9);
}

.input-field input {
    width: 100%;
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field label {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field select {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.searchButton {
    background: transparent;
    width: 25px;
    height: 25px;
}

form input[type="button"] {
    width: 300px;
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #4776e6, #8e54e9);
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="button"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #4776e6, #8e54e9);
}

form input[type="submit"] {
    width: 300px;
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #4776e6, #8e54e9);
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #4776e6, #8e54e9);
}

/* MANGA ADD */

form {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pageAdd {
    width: 100%;
    height: 400px;
}

.pageList {
    width: 100%;
    height: 400px;
}

.mangaList {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.mangaItem {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    border-bottom: 1px solid black;
}

.mangaItem img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.mangaData {
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mangaData label {
    outline: none;
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
}

.mangaData label:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* MANGA LIST */


/* PROFILE */

.alert {
    padding: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    font-size: 18px;
    min-width: 350px;
    display: none;
}

.message {
    border-color: #e8273b;
    color: #FFF;
    background-color: #ed5565;
}

.avatar-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#avatar-area {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.avatar-area img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.icons-area {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

