<main class="container">
    <div class="body-left">
        <div class="header-page">
            <h2>LISTA DE MANGÁS</h2>
        </div>
        <div class="body-page">
            <div class="input-area">
                <label >MANGÁ:</label>
                <input type="text" placeholder="Procure..." >
            </div>
            <div class="page"></div>
        </div>
    </div>
    <div class="body-right">
        <div class="header-page">
            <h2>ADIONAR MANGÁS</h2>
        </div>
        <div class="body-page">
            <div class="input-area">
                <label >TIPO:</label>
                <select>
                    <option value="" >Selecione...</option>
                    <option value="manga" >Mangá</option>
                    <option value="chapter" >Capítulo</option>
                </select>
            </div>
            <div class="page"></div>
        </div>
    </div>
</main>




<!--<main class="container">
    <div class="body">
        <h2>MANGÁ</h2>
        <div class="input-area">
            <label class="title" >Tipo: </label>
            <select id="combo-type" onchange="definePages();" >
                <option value="" >Selecione</option>
                <option value="manga" >Mangá</option>
                <option value="chapter" >Capítulo</option>
            </select>
        </div>
        <div class="page"></div>
    </div>
</main>-->