<main class="container">
    <div class="body-left">
        <div class="header-page">
            <h2>LISTA DE MANGÁS</h2>
        </div>
        <div class="body-page">
            <div class="input-area">
                <label >MANGÁ:</label>
                <input type="text" placeholder="Procure..." >
            </div>
            <div class="pageList"></div>
        </div>
    </div>
    <div class="body-right">
        <div class="header-page">
            <h2>ADICIONAR MANGÁS</h2>
        </div>
        <div class="body-page">
            <div class="input-area">
                <label >TIPO:</label>
                <select id="combo-type" onchange="return definePages();">
                    <option value="" >Selecione...</option>
                    <option value="manga" >Mangá</option>
                    <option value="chapter" >Capítulo</option>
                </select>
            </div>
            <div class="pageAdd"></div>
        </div>
    </div>
</main>
