<main class="container">
    <div class="body-left">
        <div class="header-page">
            <h2>LISTA DE MANGÁS</h2>
        </div>
        <div class="body-page">
            <div class="input-field" style="width: 100%">
                <div class="search" >
                    <input type="text" placeholder="Titulo" >
                    <button class="searchButton" >
                        <span class="material-icons" style="font-size: 20px; color: black;" >search</span>
                    </button>
                </div>
                <div class="underline"></div>
            </div>
            <div class="pageList" >
                <div class="mangaList" id="mangaList"></div>
            </div>
        </div>
    </div>
    <div class="body-right">
        <div class="header-page">
            <h2>ADICIONAR MANGÁS</h2>
        </div>
        <div class="body-page">
            <div class="input-field" style="width: 100%;" >
                <select id="combo-type" onchange="return definePages();">
                    <option value="" >Selecione</option>
                    <option value="manga" >Mangá</option>
                    <option value="chapter" >Capítulo</option>
                </select>
                <div class="underline"></div>
            </div>
            <div class="pageAdd"></div>
        </div>
    </div>
</main>
